Repository ARostov/harvard-plate-: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

start
  index.html
  public/favicon.ico
  src/main.js
  src/router.js
  vite.config.js
Due: eslint --fix, prettier --write

start
  .github/workflows/deploy.yml
Due: none

start
  package.json
Due: prettier --write

deploy
  .github/workflows/deploy.yml
Due: none

deploy
  .github/workflows/deploy.yml
  src/components/FoodSelector.vue
  src/components/Plate.vue
Due: eslint --fix, prettier --write

deploy
  index.html
  vite.config.js
Due: eslint --fix, prettier --write

PlatePage
  .github/workflows/ci.yml
  src/components/Layout/Header.vue
  src/components/Plate.vue
  src/components/Plate/FoodSelection.vue
  src/components/Plate/Plate.vue
  src/components/Plate/PlateAnalysis.vue
  src/components/Plate/PlateItemsList.vue
  src/components/Plate/PlateVisualization.vue
  src/components/UI/Button.vue
  src/components/UI/Card.vue
  src/components/UI/FoodCard.vue
  src/router.js
  src/views/PlatePage.vue
Due: eslint --fix, prettier --write

PlatePage
  src/components/Plate/FoodSelection.vue
  src/components/Plate/Plate.vue
  src/components/Plate/PlateItemsList.vue
  src/components/Plate/PlateVisualization.vue
  src/components/UI/FoodCard.vue
Due: eslint --fix, prettier --write

PlatePage
  src/components/Plate/MealPlanCard.vue
  src/components/Plate/MealPlans.vue
  src/components/Plate/Plate.vue
  src/components/UI/MealPlanModal.vue
  src/views/PlatePage.vue
Due: eslint --fix, prettier --write

tests
  package.json
Due: prettier --write

tests
  package-lock.json
Due: prettier --write

tests
  .github/workflows/test.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: any of: *.{vue,js,json,md}
